<div class="learn-nav">
  <div class="learn-nav-title">Learn</div>

  <a class="learn-link" href="{{ site.baseurl }}/learn/start">Start Here</a>

  <div class="learn-nav-section">Systems</div>
  <a class="learn-link" href="{{ site.baseurl }}/learn/plumbing">Plumbing</a>
  <a class="learn-link" href="{{ site.baseurl }}/learn/electrical">Electrical</a>
  <a class="learn-link" href="{{ site.baseurl }}/learn/hvac">HVAC</a>
  <a class="learn-link" href="{{ site.baseurl }}/learn/repairs">Repairs</a>
</div>
